[submodule "themes/hextra"]
	path = themes/hextra
	url = https://github.com/imfing/hextra.git
[submodule "themes/hugoplate"]
	path = themes/hugoplate
	url = https://github.com/zeon-studio/hugoplate.git
